.App {
  text-align: center;
}
.HookForm{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 25px;
}
.output{
  display: flex;
  justify-content: center;
  align-items: center;
}